@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


@theme {
  --color-primary: #08223C;
  --color-green: #B47B43;
  --color-orange: #E9CC8D;
  --font-display: 'Cinzel Bold(RUS BY LYAJKA)';
  --font-montserrat: 'Montserrat';
  --text-15: 0.9375rem;
  --text-30: 1.875rem;
  --text-40: 2.5rem;
}


@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply  bg-primary text-white font-display overflow-x-hidden
  }

  button {
    @apply cursor-pointer
  }
}

@utility container-base {
  @apply max-w-296 mx-auto px-5
}

.kazan-swipe__main .swiper-slide-prev,
.kazan-swipe__main .swiper-slide-next {
  @apply opacity-50 scale-75;
}

.kazan-swipe__main .swiper-slide-active {
  @apply opacity-100 !scale-100;
}


.kazan-swipe__main .swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-prev-rezi::after,
.swiper-button-next-rezi::after,
.swiper-button-prev-hod::after,
.swiper-button-next-hod::after
{
  content: '';
  @apply !hidden;
}


.swiper-kazan-rezi  .swiper-button-disabled,
.swiper-kazan-hod .swiper-button-disabled {
  @apply !cursor-default !opacity-60 
}